extends ./header
append body
	.container
		+panel-primary("表结构提交结果")
			if errorResults.table
				if errorResults.table.error
					+alert-danger(errorResults.table.error)
				else
					+list-group-custom()
						each results, key in errorResults.table
							+list-group-item("#")
								div(style="margin:0").alert.alert-dismissible.alert-danger
									b= key
								table.table.table-striped.table-bordered
									thead
										tr
											th TABLE_NAME
											th TAB_COMMENTS
											th COLUMN_NAME
											th COLUMN_ID
									tbody
										each result,index in results
											tr
												td= result.TABLE_NAME
												td= result.TAB_COMMENTS
												td= result.COLUMN_NAME
												td= result.COLUMN_ID
			else 
				+alert-success("表结构提交成功")
		+panel-primary("主键提交结果")
			if errorResults.primarykey
				if errorResults.primarykey.error
					+alert-danger(errorResults.primarykey.error)
				else
					+list-group-custom()
						each results, key in errorResults.primarykey
							+list-group-item("#")
								div(style="margin:0").alert.alert-dismissible.alert-danger
									b= key
								table.table.table-striped.table-bordered
									thead
										tr
											th TABLE_NAME
											th COLUMN_NAME
											th COLUMN_ID
									tbody
										each result,index in results
											tr
												td= result.TABLE_NAME
												td= result.COLUMN_NAME
												td= result.COLUMN_ID
			else 
				+alert-success("主键提交成功")
		+panel-primary("索引提交结果")
			if errorResults.index
				if errorResults.index.error
					+alert-danger(errorResults.index.error)
				else
					+list-group-custom()
						each results, key in errorResults.index
							+list-group-item("#")
								div(style="margin:0").alert.alert-dismissible.alert-danger
									b= key
								table.table.table-striped.table-bordered
									thead
										tr
											th TABLE_NAME
											th COLUMN_NAME
											th COLUMN_ID
									tbody
										each result,index in results
											tr
												td= result.TABLE_NAME
												td= result.COLUMN_NAME
												td= result.COLUMN_ID
			else 
				+alert-success("索引提交成功")